---
layout: default
---
<div class="container">
    <h1 class="row"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="row text-muted ml-0">{{ page.date | date: "%B %-d, %Y @ %H:%M" }} - {{ page.author.display_name }}</p>
    <div class="container small">
        Categories:
        {% for category in page.categories %}
        {{ category }} {{ category.link }}
        {% endfor %}
    </div>
    <hr class="light">
    <div class="container">
        {{ content }}

        <hr class="light">

        <div class="row">
            <div class="col-sm">
                {% if page.previous.url %}
                <a class="btn btn-primary btn-sm" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                {% endif %}</div>
            <div class="col-sm">&nbsp</div>
            <div class="col-sm">{% if page.next.url %}
                <a class="btn btn-primary btn-sm" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                {% endif %}</div>
        </div>

    </div>
    {% if page.comments %}
    <hr class="inverse">
    <div class="container">
        <h3>Comments</h3>
        {% include comments.html %}
    </div>
    {% endif %}
</div>