<style>
    {% if include.lightbox_captions == "false" %}.lightbox span {display: none;}{% endif %}
    {% if include.lightbox_captions == "true" %}.lightbox span {display: block;}{% endif %}
    {% if page.lightbox_captions == false %}.lightbox span {display: none;}{% endif %}
    {% if page.lightbox_captions == true %}.lightbox span {display: block;}{% endif %}
</style>
<script type="text/javascript" src="/assets/js/lightbox.js"></script>
<link rel="stylesheet" href="/assets/css/lightbox.css">