<table class="table">
    <thead>
    <tr class="table-dark">
        <th scope="col">Latest Blog Posts</th>
    </tr>
    </thead>
</table>

<nav class="navbar navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#latestNavbar" aria-controls="latestNavbar" aria-expanded="false" aria-label="Toggle latest nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="latestNavbar">
        <ul class="navbar-nav mr-auto">
            {% for post in site.posts limit:5 %}
            <li class="nav-item"><a href="{{ post.url }}" class="nav-link">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>