<table class="table">
    <thead>
    <tr class="table-dark">
        <th scope="col">Latest Blog Posts</th>
    </tr>
    </thead>
</table>

<nav class="navbar navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#latestNavbar" aria-controls="latestNavbar" aria-expanded="false" aria-label="Toggle latest nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="latestNavbar">
        <ul class="navbar-nav mr-auto">
            {% for post in site.posts limit:5 %}
            <li class="nav-item"><a href="{{ post.url }}" class="nav-link">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>
<br/>
<table class="table">
    <thead>
    <tr class="table-dark">
        <th scope="col">Categories</th>
    </tr>
    </thead>
    <tbody>
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <tr class="table-light container small">
        <th scope="col"><a href="{{site.baseurl}}/categories/#{{ category_name | slugize }}">{{ category_name | slugize }}</a></th>
    </tr>
    {% if forloop.last %}</tbody>{% endif %}
    {% endfor %}
</table>