---
published: true
title: Gizmokid2005's 2019 Ford Ranger XLT SuperCrew 4x4 Sport
---
<h2><strong>2019 Ford Ranger XLT SuperCrew 4x4 Sport</strong></h2>
<ul>
    <li>2.3L I4 Ecoboost</li>
    <li>10-speed Automatic</li>
    <li>XLT</li>
    <li>4x4</li>
    <li>Sport Appearance Package</li>
    <li>301A Equipment Group</li>
    <li>Lane Keeping System</li>
    <li>Forward & Rear Sensing System</li>
    <li>Blind Spot Information System with Cross-Traffic Alert (BLIS)</li>
    <li>255/65/17 Bridgestone Dueller A/T</li>
    <li>Custom:
        <ul>
            <li>Exterior</li>
            <ul>
                <li><a href="https://www.sharptruck.com/truck-hardware-2019-ford-ranger-stainless-steel-plate-gatorback-mud-flaps-custom-fit-set">Gatorback MudFlap Flap Set</a></li>
                <li><a href="https://www.4wheelparts.com//p/truxedo-truxport-tonneau-cover-231001/_/R-BKHI-231001">TruXedo TruXport Tonneau Cover</a></li>
            </ul>
            <li>Lighting</li>
            <ul>
                <li><a href="https://smile.amazon.com/gp/product/B07TYX5FM5/">Car Rover 55W 6000K LED Headlights (9005)</a></li>
                <li><a href="https://smile.amazon.com/gp/product/B07TWRFYPC/">Car Rover 55W 6000K LED High Beans (H11)</a></li>
                <li><a href="https://www.diodedynamics.com/license-plate-leds-for-2019-ford-ranger-pair.html">Diode Dynamics License Plate LED Kit (6000K HP3)</a></li>
                <li><a href="https://www.diodedynamics.com/3rd-brake-light-led-for-2019-ford-ranger-one.html">Diode Dynamics LED 3rd Brake Light (Red HP5)</a></li>
                <li><a href="https://www.diodedynamics.com/sidemarker-leds-for-2019-2020-ford-ranger-pair.html">Diode Dynamics LED Sidemarkers (Amber HP5)</a></li>
                <li><a href="https://www.diodedynamics.com/fog-light-leds-for-2019-ford-ranger-pair.html">Diode Dynamics LED Fog Light Kit (6000K SLF)</a></li>
                <li><a href="https://www.diodedynamics.com/cargo-light-leds-for-2019-ford-ranger-pair.html">Diode Dynamics LED Cargo Lights (6000K HP36)</a></li>
            </ul>
        </ul>
    </li>
</ul>

<hr>

<h3>Image Gallery</h3>
{% include image-gallery.html folder="/images/ranger" %}

{% include lightbox.html %}