---
published: true
title: Gizmokid2005's 2019 Ford Ranger XLT SuperCrew 4x4 Sport - GLaDOS
---
<h2><strong>2019 Ford Ranger XLT SuperCrew 4x4 Sport</strong></h2>
<ul>
    <li>2.3L I4 Ecoboost (270hp / 310ft-lbs)</li>
    <li>10-speed Automatic</li>
    <li>XLT</li>
    <li>4x4</li>
    <li>265/70/17 Falken Wildpeak A/T3W</li>
    <li>Sport Appearance Package</li>
    <li>301A Equipment Group</li>
    <li>Lane Keeping System</li>
    <li>Forward & Rear Sensing System</li>
    <li>Blind Spot Information System with Cross-Traffic Alert (BLIS)</li>
    <li>Custom:
        <ul>
            <li>Exterior</li>
            <ul>
                <li><a href="https://www.sharptruck.com/truck-hardware-2019-ford-ranger-stainless-steel-plate-gatorback-mud-flaps-custom-fit-set">Gatorback MudFlap Flap Set</a></li>
                <li><a href="https://www.4wheelparts.com//p/truxedo-truxport-tonneau-cover-231001/_/R-BKHI-231001">TruXedo TruXport Tonneau Cover</a></li>
                <li><a href="https://smile.amazon.com/gp/product/B073SDG5X3/">CravenSpeed Stubby Jr Antenna</a></li>
                <li><a href="https://smile.amazon.com/gp/product/B01414B9HI/">Reese Ratcheting Cargo Bar</a></li>
            </ul>
            <li>Lighting</li>
            <ul>
                <li><a href="https://smile.amazon.com/gp/product/B07TYX5FM5/">Car Rover 55W 6000K LED Headlights (H11)</a></li>
                <li><a href="https://smile.amazon.com/gp/product/B0856ZZW2F/">Easy Eagle 80W 6000K LED High Beans (HB3/9005)</a></li>
                <li><a href="https://www.diodedynamics.com/license-plate-leds-for-2019-ford-ranger-pair.html">Diode Dynamics License Plate LED Kit (6000K HP3)</a></li>
                <li><a href="https://www.diodedynamics.com/3rd-brake-light-led-for-2019-ford-ranger-one.html">Diode Dynamics LED 3rd Brake Light (Red HP5)</a></li>
                <li><a href="https://www.diodedynamics.com/sidemarker-leds-for-2019-2020-ford-ranger-pair.html">Diode Dynamics LED Sidemarkers (Amber HP5)</a></li>
                <li><a href="https://www.diodedynamics.com/fog-light-leds-for-2019-ford-ranger-pair.html">Diode Dynamics LED Fog Light Kit (6000K SL1)</a></li>
                <li><a href="https://www.diodedynamics.com/cargo-light-leds-for-2019-ford-ranger-pair.html">Diode Dynamics LED Cargo Lights (6000K HP36)</a></li>
                <li><a href="https://www.stage3motorsports.com/2019Ranger3M-2019-Ranger-Custom-Auto-Works-Raptor-Style-3-LED-Grille-Light-Kit.html">Custom Auto Works Raptor Style 3 LED Grille Light Kit</a></li>
            </ul>
            <li>Interior</li>
            <ul>
                <li><a href="https://www.rammount.com/part/RAM-VB-202-SW2">RAM No-Drill Seat Mount</a></li>
                <li><a href="https://www.lightforce.com/en_us/lightforce-switch-fascia-to-suit-ford-ranger-everest">Lightforce Switch Fascia</a></li>
            </ul>
            <li>Offroad Gear</li>
            <ul>
                <li><a href="https://smile.amazon.com/gp/product/B005ASY23I/">Viair 88P Air Compressor</a></li>
                <li><a href="https://www.4wheelparts.com/p/smittybilt-trail-gear-bag-black-2726-01/_/R-DSBP-2726-01">Smittybilt Trail Gear Bag</a></li>
                <li><a href="https://www.4wheelparts.com/p/smittybilt-2-x-30-tow-strap-yellow-cc230/_/R-DSBP-CC230">Smittybilt 2" x 30' Tow Strap</a></li>
                <li><a href="https://www.4wheelparts.com/p/rugged-ridge-receiver-d-ring-shackle-bracket-11234-01/_/R-BKMS-11234.01">Rugged Ridge D-Ring Shackle Bracket</a></li>
                <li><a href="https://www.4wheelparts.com/p/smittybilt-5-8-diameter-pin-2911/_/R-DSBP-2911">Smittybilt 5/8" Receiver Pin</a></li>
            </ul>
        </ul>
    </li>
</ul>

<hr>

<h3>Image Gallery</h3>
{% include image-gallery.html folder="/images/ranger" %}

{% include lightbox.html %}